<br/><div class="card">
  <h5 class="card-header"><%= @event.title %></h5>
  <div class="card-body">
    <p class="card-text"><strong>End date:</strong> <%= @event.id %></p>
    <p class="card-text"><strong>Location:</strong> <%= @event.location %>
    <p class="card-text"><strong>Price:</strong> <%= @event.price %></p>
    <p class="card-text"><strong>End date:</strong> <%= @event.end_date %></p>
    <p class="card-text"><strong>Description:</strong> <%= @event.description %></p>
    <a href="<%= new_event_attendance_path(@event.id) %>" class="btn btn-primary">Register to this event</a>

    <% if @event.admin.id == current_user.id %>
      <a href="<%= event_attendances_path(@event.id) %>" class="btn btn-primary">See all participants</a>
    <% end %>

  </div>
</div>
